{% extends "base.html" %}



{% block title %}

Sell {{asset.symbol}} | XCoin

{% endblock %}



{% block page_title %}

Sell {{asset.symbol}}

{% endblock %}






{% block content %}



<div

x-data="{

quantity:0,

price:{{asset.current_price}},

total:0,


calculate(){

this.total = (this.quantity * this.price).toFixed(2)

}


}"

class="max-w-3xl mx-auto space-y-8"

>







<!-- HEADER -->


<div class="glass rounded-3xl p-8">


<div class="flex items-center gap-5">



{% if asset.logo %}


<img

src="{{asset.logo.url}}"

class="w-16 h-16 rounded-2xl object-cover"

>


{% else %}


<div class="w-16 h-16 bg-red-600 rounded-2xl flex items-center justify-center text-2xl font-black">

{{asset.symbol|first}}

</div>


{% endif %}





<div>


<h1 class="text-3xl font-black">

Sell {{asset.name}}

</h1>


<p class="text-zinc-400">

{{asset.symbol}}

</p>


</div>



</div>


</div>









<!-- HOLDING CARD -->


<div class="glass rounded-3xl p-6">


<p class="text-zinc-400">

Your Holdings

</p>


<h2 class="text-4xl font-black mt-3">

{{portfolio.quantity}}

{{asset.symbol}}

</h2>



</div>









<!-- SELL FORM -->


<form method="POST"

class="glass rounded-3xl p-8 space-y-6">


{% csrf_token %}






<div>


<label class="text-zinc-400">

Quantity to Sell

</label>



<input

type="number"

step="0.00000001"

name="quantity"

x-model="quantity"

@input="calculate()"

placeholder="Enter quantity"

class="input mt-3"

required


>


</div>








<!-- PREVIEW -->


<div class="grid md:grid-cols-2 gap-5">





<div class="glass rounded-2xl p-5">


<p class="text-zinc-400">

Current Price

</p>


<h2 class="text-2xl font-black mt-2">

${{asset.current_price}}

</h2>


</div>






<div class="glass rounded-2xl p-5">


<p class="text-zinc-400">

Estimated Return

</p>


<h2 class="text-2xl font-black mt-2 text-green-400">


$<span x-text="total">

</span>


</h2>


</div>




</div>








<!-- WARNING -->


<div class="bg-red-600/10 border border-red-600/20 rounded-2xl p-5">


<p class="text-sm text-zinc-300">


Sell requests are reviewed by XCoin.
Funds will be credited after approval.


</p>


</div>







<button

type="submit"

class="btn w-full text-lg"


>


Submit Sell Request


</button>






</form>







</div>



{% endblock %}